.img-background {
    width: 100%;
    height: 100%;
    background-image: url(imgs/main.jpg);
    background-size: cover;
    background-position: top;
  }
a{
    cursor: pointer;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Opacité 50% */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}
.popup {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre légère */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
    gap: 10px; /* Espacement entre les photos */
  }
  .grid-item {
    width: 100%;
    height: 100px; /* Hauteur fixe pour les exemples */
    background-color: lightgray;
    border-radius: 5px;
    overflow: hidden; /* Masquer le débordement des images */
    cursor: grab; /* Curseur indiquant que l'image est déplaçable */
  }
  .grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  .full-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    z-index: 1000;
  }